:root {
  --body-color: #e3fdfd;
  --footer-color: #71c9ce;
}

body {
  margin: 200;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont,
    " Open Sans, sans-serif ,Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  font-family: "Lato", sans-serif;
  margin: 0%;
  padding: 1rem;
  font-size: 0.9rem;
}
​ h1 {
  padding: 1rem;
}

h3 {
  padding: 1remgi;
}

.darker-color {
  color: var(--footer-color);
}
.my-hr {
  border: dotted var(--footer-color) 0.4rem;
  border-bottom: none;
  background-color: transparent;
  width: 15%;
  margin: 1.5rem auto;
}

.over-image-text {
  font-family: "Architects Daughter";
  color: white;
  text-shadow: 4px 3px 0 black;
}

.over-image-link {
  color: white;
  text-shadow: 4px 3px 0 black;
  margin-top: 2.5rem;
}

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.my-footer {
  margin-bottom: 0px;
  margin-top: 1.5rem;
  background-color: var(--footer-color);
}
.my-footer h1 {
  margin-bottom: 0px;
}

.project-image {
  max-width: 17rem;
  max-height: 15rem;
  margin: 2rem;
}

.section {
  font-family: "Open Sans";
  margin-top: "2rem ";
  margin-bottom: "2rem ";
}

.exp {
  text-align: left;
}

.my-nav {
  background-color: var(--body-color);
}

.my-button {
  margin: 1rem;
  position: relative;
  top: 4rem;
}

.bullet-logo {
  width: 15%;
  height: 100%;
  margin: 0.2rem;
}

.my-rounded {
  border-radius: 25px;
}

.my-text-left {
  text-align: left;
}

.no-pad-left {
  padding-left: 0;
}

.education-sub-heading {
  padding-left: 4rem;
  padding-bottom: 1.5rem;
}

.div-margin {
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.skills-col {
  align-items: center;
}

.icon-margin {
  margin: 0.2rem;
}

.logo-image {
  max-width: 5rem;
  max-height: 5rem;
  margin: 2rem;
  border-radius: 50%;
}

.my-image {
  max-width: 10rem;
  max-height: 10rem;
  border-radius: 50%;
}

.center {
  margin: auto;
}
