:root {
  --body-color: #e3fdfd;
  --footer-color: #71c9ce;
}

body {
  margin: 200;
  padding: 0;

  font-family: -apple-system, BlinkMacSystemFont,
    " Open Sans, sans-serif ,Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  margin: 0%;
  padding: 1rem;
}

.my-hr {
  border: dotted var(--footer-color) 0.4rem;
  border-bottom: none;
  background-color: transparent;
  width: 15%;
  margin: 1.5rem auto;
}

.over-image-text {
  font-family: "Architects Daughter";
  color: white;
  text-shadow: 4px 3px 0 black;
}

.over-image-link {
  color: white;
  text-shadow: 4px 3px 0 black;
  margin-top: 2.5rem;
}

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.my-footer {
  margin-bottom: 0px;
  margin-top: 1.5rem;
  background-color: var(--footer-color);
}
.my-footer h1 {
  margin-bottom: 0px;
}

.logo-image {
  max-width: 10rem;
  max-height: 10rem;
  margin: 2rem;
}

.section {
  font-family: "Open Sans";
  margin-top: "2rem ";
  margin-bottom: "2rem ";
}

.exp {
  text-align: left;
}

.my-nav {
  background-color: var(--body-color);
}

/* .navbar-nav {
  float: none;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.navbar-nav > li {
  display: inline-block;
  float: none;
} */

.my-button {
  margin: 1rem;
  position: relative;
  top: 4rem;
}
